# Python virtual environment
.venv/

# Python /cache
__pycache__/
*.py[cod]
*.pyc

# macOS
.DS_Store

# VS Code settings
.vscode/

# Jupyter notebooks
.ipynb_checkpoints/

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# ROS2 build artifacts
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/