# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# macOS
.DS_Store

# VS Code settings
.vscode/

# Jupyter notebooks
.ipynb_checkpoints/

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/